{% macro default(data) %}    
    {% if data %}
        <div class="acf-flex-content">
            {% for component in data %}
                {% if component.acf_fc_layout %}
                    {% set filename = component.acf_fc_layout|replace({'_': '-'}) %}
                    {% set filename = filename ~ ".twig" %}
                    {% set path = function('get_template_directory') ~ '/views/acf-components/' ~ filename %}

                    {% if function('file_exists', path) %}
                        {% import path as c %}
                        {% set source = source(path) %}


                        {% if 'macro default' in source %}
                            {{ c.default(component[component.acf_fc_layout]) }}
                        {% endif %}

                        {# {% set variation = component.variation ? component.variation : 'default' %} #}

                        {# {% include path with {
                            variation: variation,
                            data: component[component.acf_fc_layout]
                        } %} #}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}