<header class="header container">
    <nav class="flex justify-between items-center mt-margin">
        <a class="block h-50 child:h-full" href="{{ function('get_bloginfo', 'url') }}">
            {% include "@assets/svg/logo.svg" %}
        </a>
        {% if menus['header-primary'] and menus['header-primary'].items %}
            <ul class="flex gap-xl">
                {% for item in menus['header-primary'].items %}
                    <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</header>