{% extends "base-page.twig" %}

{% import "@components/image.twig" as image %}

{% block pageContent %}
    <div class="hero flex flex-col justify-end gap-m h-screen bg-darkultrasoft p-margin">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p class="ts-h5">Culpa exercitation eiusmod facilis eveniet voluptas</p>
        <a class="button" href="#0">Découvrir</a>
    </div>

    {% include "@components/flex-content.twig" with {content: post.meta('content')} %}
{% endblock %}
