{% extends "base-page.twig" %}

{% import "@components/image.twig" as image %}
{% import "@components/flex-content.twig" as flex_content %}

{% set data = function('get_fields') %}

{% block pageContent %}
    <div class="hero flex relative h-screen p-margin overflow-hidden" show-elements>
        <div class="flex flex-col items-center justify-center gap w-full">
            {% if data.hero.title %}
                <h1 class="text-center italic font-light">{{ data.hero.title }}</h1>
            {% endif %}
            {% if data.hero.text %}
                <div class="ts-mini text-center w-col-4">{{ data.hero.text }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}