{% extends "base-page.twig" %}

{% import "@components/flex-content.twig" as flex_content %}

{% block pageContent %}
	<div class="container mb-xl">
		<h1 class="split animation--text" show-element>{{ post.title }}</h1>
	</div>

	{{ flex_content.default(post.meta('content')) }}
{% endblock %}
