{% extends "base-page.twig" %}

{% import "@components/flex-content.twig" as flex_content %}
{% import "@components/image.twig" as image %}

{% block pageContent %}
	<div class="container mb-xl">
		<h1 class="split animation--text" show-element>{{ post.title }}</h1>
	</div>

	<div class="relative w-full aspect-[5/4]x childs:w-full">
		{{ image.default(73) }}
	</div>

	{{ flex_content.default(post.meta('content')) }}
{% endblock %}
