{% import "@components/image.twig" as image %}

{# Default #}
{% if variation in 'default' %}
    {% set posts = data[data.type_of_posts] %}

    {% if posts %}
         <div class="carousel carousel--cards container flex flex-col gap-l my-xxl">
            <h2 class="ts-h3">Liste elements</h2>
            <div class="carousel__items">
                {% for p in posts %}
                    <div class="carousel-cell">
                        <a class="card card--event" href="{{ p.url }}">
                            <div class="card__image">
                                {{ image.default(p.thumbnail) }}
                                <span class="card__status">Complet</span>
                            </div>
                            <div class="card__informations">
                                <div class="card__taxonomies">
                                    <span>Catégorie</span>
                                    <span>Catégorie</span>
                                </div>
                                <div>
                                    <div class="card__title">Titre élément {{ loop.index }}</div>
                                    <div class="card__description">Wolfgang Amadeus Mozart</div>
                                </div>
                                <div class="card__date">Vendredi 12 mai 19:30</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endif %}

{# Test #}
{% if variation in 'test' %}
    <p>Test</p>
{% endif %}