{% import "@components/image.twig" as image %}

{# Default #}
{% macro default(data) %}
    {% set posts = data[data.type_of_posts] %}

    {% if posts %}
         <div class="carousel carousel--cards flex flex-col gap-l">
            <h2 class="ts-h3">Liste elements</h2>
            <div class="carousel__items swiper">
                <div class="swiper-wrapper">
                    {% for p in posts %}
                        {% include "@components/card.twig" with {data: p, variation: 'event'} %}
                    {% endfor %}
                </div>
            </div>
            <div class="flex justify-between">
                <a class="button button--light" href="#0">
                    <span>Voir tout</span>
                    {% include "@icons/chevron-right.svg" %}
                </a>
                <div class="carousel__navigation">
                    <button class="carousel__previous button button--icon button--light">
                        {% include "@icons/arrow-left.svg" %}
                    </button>
                    <button class="carousel__next button button--icon button--light">
                        {% include "@icons/arrow-right.svg" %}
                    </button>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}
