.carousel--full {
    @apply relative aspect-[72/31];

    .carousel__item-wrapper {
        @apply absolute inset-0;
        
        &:not(.active) {
            @apply invisible;
        }
        
        .carousel__item {
            @apply h-full;
            
            .carousel__item-image {
                @apply absolute inset-0 z-[1];
            }
            
            .carousel__item-informations {
                @apply flex flex-col justify-end gap-m absolute inset-0 z-[2] h-full px-margin py-l;
                
                .carousel__item-text {
                    @apply ts-h3 d:w-col-6;
                }
            
                .carousel__item-button {
                    @apply button;
                }
            }
        }
    }

    .carousel__informations {
        @apply flex justify-between absolute top-0 left-0 w-full px-margin pt-l;

        .carousel__title {
            @apply ts-body;
        }
    }

    .carousel__navigation {
        @apply flex gap-s absolute right-margin bottom-l z-[3];
    }
}