.button {
    @apply ts-label flex justify-center items-center gap-8 w-fit h-50 px-l text-light bg-dark rounded;

    &--light {
        @apply border border-dark text-dark bg-transparent;
    }

    &--icon {
        @apply w-50 h-50 p-0;
    }

    span {
        @apply shrink-0;
    }

    svg {
        @apply shrink-0 max-w-[1.8rem] max-h-[1.8rem];
    }
}