.marquee {
    display: flex;
    width: calc(100% + (var(--margin) * 2));
    overflow: hidden;
    left: calc(var(--margin) * -1);

    & > * {
        padding-right: var(--spacing-m);
        flex-shrink: 0;
    }
}
