.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: var(--color-light);
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    transition: opacity var(--animation-property), visibility 0s;
    
    &.hide {
        opacity: 0;
        visibility: hidden;
        transition-delay: 0s, 1s;
    }
}

// body:not(.welcome) .welcome {
//     display: none;
// }