@font-face {
    font-family: MonumentGrotesk, sans-serif;
    src: url("../assets/fonts/monument-grotesk/MonumentGroteskRegular.otf") format("opentype");
}

@font-face {
    font-family: MonumentGrotesk, sans-serif;
    font-style: italic;
    src: url("../assets/fonts/monument-grotesk/MonumentGroteskItalic.otf") format("opentype");
}

@font-face {
    font-family: MonumentGrotesk, sans-serif;
    font-weight: 700;
    src: url("../assets/fonts/monument-grotesk/MonumentGroteskBold.otf") format("opentype");
}
