#app-content.page  {
    @apply mt-180;

    & > .acf-flex-content {
        @apply flex flex-col gap-xxxl;
    }

    .carousel--cards,
    .testimony,
    .section {
        @apply container;
    }
}